@charset "UTF-8";

/* 回答はここに書いてね */

.q5{
  width: 500px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  background-color: #ECF1F2;
}



.box1{
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: #ffefd3;
  position: absolute;
  top: 40px;
  left: 200px;
  text-align: center;
  z-index: 1;
}



.box2{
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: #7084de;
  position: absolute;
  top: 120px;
  left: 280px;
  text-align: center;
  z-index: 2;

}

.box3{
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: #d0ecea;
  position: absolute;
  top: 200px;
  left: 360px;
  text-align: center;
  z-index: 3;
}

.box4{
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: #8b7a5e;
  position: absolute;
  top: 280px;
  left: 280px;
  text-align: center;
  z-index: 4;
}

.box5{
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: #9fd6d2;
  position: absolute;
  top: 360px;
  left: 200px;
  text-align: center;
  z-index: 5;
}

.box6{
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: #fffee4;
  position: absolute;
  top: 280px;
  left: 120px;
  text-align: center;
  z-index: 6;
}

.box7{
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: #deae70;
  position: absolute;
  top: 200px;
  left: 40px;
  text-align: center;
  z-index: 7;
}

.box8{
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: #de70cf;
  position: absolute;
  top: 120px;
  left: 120px;
  text-align: center;
  z-index: 8;
}

.box8::after{
  width: 20px;
  height: 20px;
  background-color: #ffefd3;
  position: absolute;
  top: 0;
  left: 80px;
  content: "";
}

.box9{
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 30px;
  font-weight: bold;
  background-color: #2d69a3;
  position: fixed;
  /* z-index: 9; */
  top: 10px;
  left: 10px;
  text-align: center;

}

/* 回答はここに書いてね */
