@charset "UTF-8";

/* 回答はここに書いてね */
.table{
  width: 100%;
  table-layout: fixed;
}

.table tr:nth-child(2n){ /*2つ飛ばしで適用*/
  background-color:#ecf1f2;
}

.table tfoot tr:first-child{
  border-top: 2px dashed #000;
}

.table tr td{
  border: 1px solid #dedede;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}

.table tr th{
  color: #fff;
  background-color: #2244aa;
  border: 1px solid #dedede;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
}
/* 回答はここに書いてね */

